<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Segment</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <!-- Default Segment -->
  <ion-segment (ionChange)="selecionar($event)">
    <ion-segment-button value="Frutas">
      <ion-label>Frutas</ion-label>
    </ion-segment-button>
    <ion-segment-button value="Cores">
      <ion-label>Cores</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-list *ngIf="opcaoSelecionada == 'Frutas'">
    <ion-item>Maçã</ion-item>
    <ion-item>Pera</ion-item>
    <ion-item>Uva</ion-item>
    <ion-item>Abacate</ion-item>
  </ion-list>

  <ion-list *ngIf="opcaoSelecionada == 'Cores'">
    <ion-item>Azul</ion-item>
    <ion-item>Amarelo</ion-item>
    <ion-item>Verde</ion-item>
    <ion-item>Vermelho</ion-item>
    <ion-item>Marrom</ion-item>

  </ion-list>
</ion-content>