<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Alert</ion-title>
  </ion-toolbar>
</ion-header>

<ion-button expand="block" color="secondary" (click)="alert()">Meu Primeiro Alerta</ion-button>
<ion-button expand="block" color="secondary" (click)="mutiple()">Multiplo Botões Alert</ion-button>
<ion-button expand="block" color="secondary" (click)="confirma()">Alert de confirmação</ion-button>
<ion-button expand="block" color="secondary" (click)="prompt()">Alert com prompt</ion-button>

<ion-content>

</ion-content>
