<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Progress Bar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-progress-bar></ion-progress-bar>
  </ion-item>

  <ion-item>
    <ion-progress-bar value="0.5"></ion-progress-bar>
  </ion-item>

  <ion-item>
    <ion-progress-bar color="danger" value="0.1"></ion-progress-bar>
  </ion-item>

  <ion-item>
    <ion-progress-bar color="dark" type="indeterminate"></ion-progress-bar>
  </ion-item>

</ion-content>