<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Falar no celular</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
      <ion-item>
        <ion-label position="stacked">Texto a ser falado: </ion-label>
        <ion-input type="text" [(ngModel)]="textoASerFalado"></ion-input>
      </ion-item>
    </ion-list>

    <ion-button expand="block" (click)="falar()">Falar Texto</ion-button>
</ion-content>
